<div class="parent">
    <div class="login-container">  
      <div class="login-form">  
        <h2>Добро пожаловать</h2>  
        <form>  
          <div class="form-group">  
            <label for="username">Имя пользователя:</label>  
            <input type="text" id="username" pInputText name="username" [(ngModel)]="loginObj.username" required>  
          </div>  
          <div class="form-group">  
            <label for="password">Пароль:</label>  
            <p-password id="password" name="password" [(ngModel)]="loginObj.passwordHash" required [feedback]="false" [toggleMask]="true" />  
          </div>  
          <p-button label="Войти" (click)="login()" [raised]="true"/>
          <p-button label="Зарегистрироваться" [text]="true" [raised]="true" severity="secondary"  (click)="register()"/>
        </form>  
      </div>  
    </div>  
  </div>